.favorites_background_image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.container_favorites {
  position: relative;
  height: 80vh;
  width: 95vw;
  margin: 0 auto;
  justify-content: center;
  margin-top: 8vw;
  display: flex;
  flex-wrap: wrap;
}